<div class="container mr-6 ml-6">
  <div class="container mt-6">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 m-6 bd-highlight text-center">
          <% if current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif current_user.photo %>
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="p-2 bd-highlight">
    <h2 class="card-description text-center">Hello, I'm <%=@user.first_name%></h2>
  </div>


  <h2 id="trtarget">Travel Interests</h2>

    <div class="row">
      <% @countries.each do |country| %>
        <div class="col-6">
          <div class="country-card-profile" style='background-image: url("<%= country.photo %>")'>
            <a rel="stylesheet" href="/profile/<%= @user.id %>?country=<%= country.id %>#trtarget">
              <p><%= country.name %></p>
             </a>
          </div>
        </div>
      <% end %>
    </div>

  <% if @country %>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="pills-vocabulary-tab" data-toggle="pill" href="#pills-vocabulary" role="tab" aria-controls="pills-vocabulary" aria-selected="true">Vocabulary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-places-tab" data-toggle="pill" href="#pills-places" role="tab" aria-controls="pills-places" aria-selected="true">Places</a>
      </li>
    </ul>

    <div class="tab-pane fade" id="pills-vocabulary" role="tabpanel" aria-labelledby="pills-vocabulary-tab">
      <ul>
        <div class='phrases' style="grid-template-columns: 1fr;">
          <% @phrases.each do |phrase| %>
            <li style="display: flex;">
              <div class='english'>
                <p> <%= phrase.english %> : </p>
              </div>
              <div class='translated'>
                <%= phrase.translation %>
              </div>
            </li>
          <% end %>
        </div>
      </ul>
    </div>

    <div class="tab-pane fade" id="pills-places" role="tabpanel" aria-labelledby="pills-places-tab">
      <div class="row justify-content-around">
        <% @places.each do |user_place| %>
          <div class="info-window col-xs-6">
            <div class="d-flex" style='flex-direction: column;'>
              <h1><%= user_place.place.name %></h1>
              <img class="place-img" src="<%= user_place.place.photo%>" >
              <p><b>City:</b> <%= user_place.place.city %></p>
              <%= link_to 'More info', user_place.place.link, class: "btn btn-flat btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <div>
    <h2>Previous trvlr destinations</h2>
    <p>Add places you’ve traveled to, so trvlrs can connect with you and ask questions about it</p>
      <%= form_tag visits_path, method: :post, class: "country-list" do |f| %>
        <p><strong>Which country you been to?</strong></p>
          <%= select_tag 'country_id', options_for_select(Country.all.collect{ |c| [c.name, c.id] }) %>
          <%= hidden_field :visits, :latitude %>
          <%= hidden_field :visits, :longitude %>
          <%= submit_tag "Submit", class: "btn btn-primary"  %>
      <% end %>
  </div>


  <p><strong><%=@user.first_name%> has traveled to:</strong></p>
    <% if @user.visits.any? %>
      <ul>
        <% @countries_visited.each do |c| %>
          <li><%= c.name %></li>
        <% end %>
      </ul>
    <% end %>

</div>

