<div class="container mt-6">
  <div class="d-flex flex-column bd-highlight mb-2">
    <div class="p-2 m-6 bd-highlight text-center">
      <img class="avatar-large mt-6" alt="avatar-large" src="<%= @user.photo %>">
    </div>
  </div>

  <div class="p-2 bd-highlight">
    <h2 class="card-description text-center">Hello, I'm <%=@user.first_name%></h2>

<!--   <div class="p-2 bd-highlight">
    <p class="card-description text-center"> <%= @user.email %> </p>
  </div> -->
</div>

<div class="container my-5">
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Interested in traveling to: <%= @user.travel_interests %></p>
  <p>Has traveled to: <%= @user.visited %></p>

  <% if @user == current_user %>
  <p><%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-primary"%></p>
  <% end %>

  <h2 id="trtarget">Travel Interests</h2>

  <div class="row">
    <% @countries.each do |country| %>
    <div class="col-6">
      <div class="country-card-profile" style='background-image: url("<%= country.photo %>")'>
        <a rel="stylesheet" href="/profile/<%= @user.id %>?country=<%= country.id %>#trtarget">
          <p><%= country.name %></p>
        </a>
      </div>
    </div>
    <% end %>
  </div>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-culture-tab" data-toggle="pill" href="#pills-culture" role="tab" aria-controls="pills-culture" aria-selected="true">Culture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-health-tab" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-health" aria-selected="false">Health</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-vocabulary-tab" data-toggle="pill" href="#pills-vocabulary" role="tab" aria-controls="pills-vocabulary" aria-selected="false">Vocabulary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-visa-tab" data-toggle="pill" href="#pills-visa" role="tab" aria-controls="pills-visa" aria-selected="false">Visa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-places-tab" data-toggle="pill" href="#pills-places" role="tab" aria-controls="pills-places" aria-selected="false">Places</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-culture" role="tabpanel" aria-labelledby="pills-culture-tab">
      <%= render 'countries/culture' %>
    </div>
    <div class="tab-pane fade" id="pills-health" role="tabpanel" aria-labelledby="pills-health-tab">
      <%= render 'countries/health' %>
    </div>
    <div class="tab-pane fade" id="pills-vocabulary" role="tabpanel" aria-labelledby="pills-vocabulary-tab">
      <h2>Phrases for <%= @country.name %></h2>
      <ul>
        <div class='phrases' style="grid-template-columns: 1fr;">
          <% @phrases.each do |phrase| %>
          <li style="display: flex;">
            <div class='english'>
              <p> <%= phrase.english %> : </p>
            </div>
            <div class='translated'>
              <%= phrase.translation %>
            </div>
          </li>
          <% end %>
        </div>
      </ul>  </div>
      <div class="tab-pane fade" id="pills-visa" role="tabpanel" aria-labelledby="pills-visa-tab">
        <%= render 'countries/visa' %>
      </div>
      <div class="tab-pane fade" id="pills-places" role="tabpanel" aria-labelledby="pills-places-tab">

        <h2>Places in <%= @country.name %> your interested in: </h2>

        <div class="row justify-content-around">
          <% @places.each do |user_place| %>

          <div class="info-window col-xs-6">
            <div class="d-flex">
              <h1 style =""><%= user_place.place.name %></h1>
              <div class='add'>
                <!-- <span><%= user_place.id %></span> -->

                <%#= link_to "+", user_places_path(place), method: :post %>
              </div>
            </div>

            <img class="place-img" src="<%= user_place.place.photo%>" >
            <p><b>City:</b> <%= user_place.place.city %></p>
            <%= link_to 'More info', user_place.place.link, class: "btn btn-flat btn-primary" %>

          </div>

          <% end %>
        </div>

      </div>
    </div>






<div>
  <h2>Previous trvlr destinations</h2>
  <p>Add places you’ve traveled to, so trvlrs can connect with you and ask questions about it</p>
<%= simple_form_for [@country, Visit.new] do |f|%>
  <%= f.association :country, collection: Country.all %>
  <%= f.submit %>
<% end %>

</div>


<div>
  <p><%= link_to "Back", countries_path, class: "btn btn-primary"%></p>
</div>
