<div class="culture">
  <div class="culture-tab">


    <i class="flaticon-airplane49" display: inline></i>
    <span class="flaticon-airplane49"></span>
<div class="culture">
  <div class="culture-tab">
    <p>Are you looking to plan your first trip to Mexico? There are several different aspects to consider before you go, from travel documents to health and safety concerns, and of course which destination to choose and what activities to pursue during your stay. Here are some resources to help you get your trip planned and figure out what you need, where you should go and what you should do, to help make your Mexico vacation a success.</p>
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1"  >
        <label class="tab-label" for="chck1" >
          <div class="culture-container">
            <%= image_tag 'icons/passport.png', width: 30, height: 30 %>
            <h4>Visa</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Early in your travel planning, you should make sure you have all the necessary documents to travel to Mexico. Passports can take a few months to process so make sure you apply far enough in advance. You probably won't need to apply in advance for a visa: when you enter the country you will be given a tourist card.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">
          <div class="culture-container">
            <%= image_tag 'icons/navigation.png', width: 30, height: 30 %>
            <h4>Going around</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Mexico is a much bigger country than most realize, so getting around can be a challenge. And while flights are often a decent value option, don’t forget about the excellent Mexico buses. It can be a great and affordable way to travel, plus you get to see Mexico’s gorgeous countryside. Mexico has a tiered bus system, with different classes of service offered at correspondingly higher prices. The higher classes are first (“primero”) and platinum (“platino”). The first class buses are nicer than most in the U.S., with comfortable seats and onboard restrooms. The platino buses, meanwhile, are worth a trip just to experience. Why? Well, the seats are equivalent to business class seats on an airline!</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">
          <div class="culture-container">
            <%= image_tag 'icons/wallet.png', width: 30, height: 30 %>
            <h4>Money</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Low season in Mexico runs from late spring to early fall. The most expensive times to go are Christmas and New Year’s, which are especially popular with travelers. Prices stay high during the winter, when travelers head south to escape the cold, but fall after Easter. If you’re traveling to coastal areas, avoid hurricane season, which usually runs from June through October.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">
          <div class="culture-container">
            <%= image_tag 'icons/restaurant.png', width: 30, height: 30 %>
            <h4>Tipping</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>At restaurants tipping between 10% and 15% is expected for good service. It's best to tip in cash, in the country's currency (peso). If the service is good, tip around 15%, or around 20% if the service is exceptional. Tip less if the service isn't up to standard.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">
          <div class="culture-container">
            <%= image_tag 'icons/cocktail-1.png', width: 30, height: 30 %>
            <h4>Water</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>It’s a common warning for travelers in Mexico — be cautious of ice in beverages at restaurants, and avoid using tap water to brush your teeth as well. Drinking water in a new place can make you feel sick anywhere, not just in Mexico, but even residents in Mexico don’t trust their local tap water.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck6">
        <label class="tab-label" for="chck6">
          <div class="culture-container">
            <%= image_tag 'icons/cocktail.png', width: 30, height: 30 %>
            <h4>Booze</h4>
          </div>
        </label>
        <div class="tab-content">
          <p> It is technically illegal to walk the streets of Mexico with an open container of alcohol, though it is not uncommon to see college kids on spring break meandering in public while drinking. In general, spring breakers are allowed to be drunk and loud as long as they don't endanger themselves or others. Still, they should be aware of the law.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck7">
        <label class="tab-label" for="chck7">
          <div class="culture-container">
            <%= image_tag 'icons/flip-flops.png', width: 30, height: 30 %>
            <h4>Hygiene</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Speaking of bathroom humor, there is another habit that many of you may have to break when visiting Mexico: flushing your toilet paper. So the proper procedure is to toss it in the little waste bin that you’ll always find somewhere close to the throne. While some of the beach resorts and the nicer hotels in Mexico City may allow you to flush it away, most everywhere else it’s polite and proper to use the bin.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck8">
        <label class="tab-label" for="chck8">
          <div class="culture-container">
            <%= image_tag 'icons/limousine.png', width: 30, height: 30 %>
            <h4>Transportation</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Buses in Mexico are generally safe, clean, and on time. There are “executive class” and “first class” buses that run on express routes and offer air conditioning, reclining seats, and movies — they’re even better than Greyhound. Second class buses usually make more stops, but make sense if your stop is a local one. Another plus? Buses in Mexico are great for sightseeing independently. A one-way bus ride to Chichén Itzá from Cancun costs about $15.</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck9">
        <label class="tab-label" for="chck9">
          <div class="culture-container">
            <%= image_tag 'icons/binoculars.png', width: 30, height: 30 %>
            <h4>Security</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Mexico has gotten a lot of negative attention on the safety front recently. And certainly it’s true that isolated parts of Mexico (which you were probably unlikely to visit anyway) have been plagued by a recent increase in cartel-associated violence. But, let’s be clear about one thing: traveling in most of Mexico is very safe. Millions of tourists visit Mexico every year, and violent incidents against tourists are actually very rare. Tourism is big business here and the government puts a lot of resources into ensuring the safety of visitors. Moreover, Mexicans are some of the most welcoming and friendly people on the planet – they aren’t out to get you!</p>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck10">
        <label class="tab-label" for="chck10">
          <div class="culture-container">
            <%= image_tag 'icons/beach.png', width: 30, height: 30 %>
            <h4>Fun</h4>
          </div>
        </label>
        <div class="tab-content">
          <p>Don’t fall into the trap of thinking that Mexico has a single culture or that you’ve seen the country just because you spent a weekend in Cancun or Cabo. Mexico is an ENORMOUS country with lots to see. It has over 128 million people. Mexico has mountains, deserts, cities, beaches, jungles, canyons, plains, and every sort of landscape you can imagine. Each part of the country has its own culture, food, and unique vibe. </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>















