<div class="info-window">
<div class="d-flex">
  <h1 style =""><%= place.name %></h1>
<div class='add'>
  <%= form_tag user_places_path do |f| %>
    <%= hidden_field_tag :place, place.id %>
    <%= submit_tag "add" %>
  <% end %>
    <%#= link_to "+", user_places_path(place), method: :post %>
</div>
</div>

<img class="place-img" src="<%= place.photo%>" >
<p><b>City:</b> <%= place.city %></p>
<%= link_to 'More info', place.link, class: "btn btn-flat btn-primary" %>

</div>
