<div class="info-window">
  <div class="d-flex">
    <h1 style =""><%= place.name %></h1>
      <div class='add'>
       <%= simple_form_for UserPlace.new do |f| %>
        <%= f.input :place, as: :hidden, input_html: { value: place.id } %>
         <%= f.submit 'add', class: "btn btn-flat btn-primary" %>
       <% end %>
      </div>
  </div>

  <label>City:<%= place.city %></label>
  <img class="place-img" src="<%= place.photo%>" >
  <%= link_to 'More info', place.link, class: "btn btn-flat btn-primary" %>

</div>
