<p>Find out if you need a visa for <%= @country.name %>. Choose your citizenship and get information about passport requirements, allowed stay and duration of your visit.</p>
  <%= form_tag visa_info_path, method: :get, remote: true, class: "visa-from" do |f| %>
  <%= hidden_field_tag 'country_id', @country.id %>
    <select name="citizen_country" class="visa-form" style="background-color: #F4F4F4;/*  */padding: 9px 29px;/* display: -webkit-inline-box; *//* FONT-VARIANT: JIS83; *//* align-items: center; */border-color: transparent;">>
    <option value="" disabled selected>Choose your citizenship</option>
    <% Country.order(name: :ASC).each do |country| %>
      <option  value="<%= country.code %>"><%= country.name %></option>
    <% end %>
  </select>
  <%= submit_tag "Submit", class: "btn btn-primary"  %>
  <% end %>

<div id="visa-info-container">
  <%= render 'countries/visa_informations', visa_info: @visa_info %>
</div>
