<h2>Visa requirements</h2>
<p>Find out if you need a visa for <%#= @country.name %>. Choose your citizenship and get information about passport requirements, allowed stay and duration of your visit.</p>
  <%= form_tag visa_info_path, method: :get, remote: true, class: "visa-from" do |f| %>
  <%= hidden_field_tag 'country_id', @country.id %>
    <select name="citizen_country" style="background-color: #F4F4F4">
    <option value="" disabled selected>Choose your citizenship</option>
    <% Country.all.each do |country| %>
      <option  value="<%= country.code %>"><%= country.name %></option>
    <% end %>
  </select>
  <%= submit_tag "Submit", class: "btn btn-primary mt-2"  %>
  <% end %>

<div id="visa-info-container">
  <%= render 'countries/visa_informations', visa_info: @visa_info %>
</div>
