<h1>Countries </h1>

<%= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path %>

<% if user_signed_in? %>
<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<% end %>

<p><%= link_to "Profile", profile_path(current_user), class: "btn btn-primary"%></p>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Africa</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Asia</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Australia</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Europe</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">North America</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">South America</a>
  </li>
</ul>

<br>
<br>
<h2>Connect With Other Users</h2>
<% @users.each do |user| %>
  <%= link_to profile_path(user) do  %>
      <div class="user-card">
        <!-- <p>'#{user.first_name}'</p> -->
        <%= image_tag avatar_url %>
      </div>
  <% end %>
  <%#= link_to "#{user.first_name} Profile", profile_path(user) if user != current_user %>
<% end %>
