
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1819657/pexels-photo-1819657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">

  <div class="container" id="header-text">

    <h1>Everything you need to know for your next trip.</h1>
    <%#= link_to 'Login', new_user_session_path, class:'nav-link' %>
  </div>
</div>


<div class="info-section" id="continent-tabs">
  <div class="tab-bar">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-africa-tab" data-toggle="pill" href="#pills-africa" role="tab" aria-controls="pills-africa" aria-selected="true">Africa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-asia-tab" data-toggle="pill" href="#pills-asia" role="tab" aria-controls="pills-asia" aria-selected="false">Asia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-europe-tab" data-toggle="pill" href="#pills-europe" role="tab" aria-controls="pills-europe" aria-selected="false">Europe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-americas-tab" data-toggle="pill" href="#pills-americas" role="tab" aria-controls="pills-americas" aria-selected="false">Americas</a>
      </li>
    </ul>
  </div>
<div class="sm-banner">
  <h3>Select a country</h3>
</div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-africa" role="tabpanel" aria-labelledby="pills-africa-tab">
      <%= render 'continent', countries: @countries, continent_adj: "Africa" %>
    </div>
    <div class="tab-pane fade" id="pills-asia" role="tabpanel" aria-labelledby="pills-asia-tab">
    <%= render 'continent', countries: @countries, continent_adj: "Asia" %>
    </div>
    <div class="tab-pane fade show" id="pills-europe" role="tabpanel" aria-labelledby="pills-europe-tab">
    <%= render 'continent', countries: @countries, continent_adj: "Europe" %>
    </div>
    <div class="tab-pane fade" id="pills-americas" role="tabpanel" aria-labelledby="pills-americas-tab">
    <%= render 'continent', countries: @countries, continent_adj: "Americas" %>
    </div>
  </div>
</div>


<div class="info-section" id="connect-with-users">
  <div class="sm-banner">
    <h3>Connect With Other Users</h3>
  </div>
  <div class="container">
   <div class="row">
    <% @users.each do |user| %>
      <% unless user == current_user %>
      <div class="user-card col-3">
        <%= link_to profile_path(user), class:" d-flex" do  %>
              <% if user.facebook_picture_url %>
              <%= image_tag user.facebook_picture_url, class: "avatar" %>
              <% elsif !user.photo.blank? %>
              <%= cl_image_tag user.photo, class: "avatar"%>
              <% else %>
              <%= image_tag "http://placehold.it/30x30", class: "avatar"%>
              <% end %>
            <p><%= user.first_name %></p>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
